.company-logo{
  width: 70px !important;
}
.Horizontal-company-logo{
  width: 190px !important;
  margin-block: 5px;
}

@media (max-width: 1510px) {
  .Horizontal-company-logo{
    width: 150px !important;
    margin-block: 10px;
  }
}
@media (max-width: 1470px) {
  .Horizontal-company-logo{
    width: 100px !important;
  }
}
.custom-banner .item {
  /* height: 85vh; */
  position: relative;
}
.custom-banner .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-banner .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
}
.custom-banner .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}
.custom-banner .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
.custom-banner .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
.custom-banner .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}
.custom-banner .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
.custom-banner .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.custom-banner .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.custom-banner .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
.custom-banner .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}
.custom-banner .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
.custom-banner .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}
.custom-banner .owl-nav .owl-prev:focus {
  outline: 0;
}
.custom-banner .owl-nav .owl-prev:hover {
  background: #000 !important;
}
.custom-banner .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
.custom-banner .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}
.custom-banner .owl-nav .owl-next:focus {
  outline: 0;
}
.custom-banner .owl-nav .owl-next:hover {
  background: #000 !important;
}
.custom-banner:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
.custom-banner:hover .owl-next {
  right: 0px;
  opacity: 1;
}
.custom-banner .btn.style2{
 color: #fff !important;
 border: 1px solid #fff !important;
}
.custom-banner .hero-text{
  color: #fff !important;
  max-width: 700px;
}
.about-us-custom p, .about-us-custom h2{
  color: #fff;
}




@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-450px * 3));
    transform: translateX(calc(-450px * 3));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-450px * 3));
    transform: translateX(calc(-450px * 3));
  }
}
.custom-slider {
  margin: auto;
  overflow: hidden;
  position: relative;
}
.custom-slider .custom-slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(450px * 6);
}
.custom-slider .custom-slide {
  width: 350px;
}
.custom-slide-track img{
  width: auto;
  height: 90px;
}

.success-story ul{
  justify-content: center;
  flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.success-story li{
  min-width: fit-content;
}
.success-story button{
  border: none;
    background: transparent;
    font-size: 22px;
    font-weight: 600;
    color: #999999;
}
.success-story .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--theme-color);
  background-color: transparent;
}

.success-story .responsive-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.success-story .responsive-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.success-story .aspect-ratio-1-1::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.success-story .aspect-ratio-2-1::before {
  content: "";
  display: block;
  padding-bottom: 50%;
}

.success-story .aspect-ratio-1-2::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

@media (max-width: 1200px) {
  .success-story button{
      font-size: 18px;
      font-weight: 500;
  }
}

@media (max-width: 1024px) {
  .success-story button{
      font-size: 16px;
      font-weight: 500;
  }
}

@media (max-width: 991px) {
  .success-story .aspect-ratio-1-2::before {
      padding-bottom: 66.67%;
  }
  .success-story button{
    font-size: 14px;
    font-weight: 500;
}
.success-story ul{
  justify-content: space-evenly;
}
.custom-bolg-latest-post{
  display: none;
}
}

.success-story .aspect-ratio-3-2::before {
  content: "";
  display: block;
  padding-bottom: 66.67%;
}

.testimonials .responsive-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.testimonials .responsive-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.testimonials .aspect-ratio-3-2::before {
  content: "";
  display: block;
  padding-bottom: 69%;
}

.testimonials .aspect-ratio-1-2::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.testimonials .aspect-ratio-1-3::before {
  content: "";
  display: block;
  padding-bottom: 147%;
}

.testimonials .aspect-ratio-1-1::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.testimonials .aspect-ratio-4-2::before {
  content: "";
  display: block;
  padding-bottom: 60%;
}
.testimonial-text {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* max-height: 310px; */
  overflow: hidden;
  position: relative;
}

.testimonial-text p {
  margin: 0;
  font-size: 16px;
}

.testimonial-text .author {
  margin-top: 15px;
  font-weight: bold;
  text-align: right;
  color: #333;
}

.testimonial-text::after {
  content: '...';
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: white;
  padding: 0 10px;
  display: none;
}

.custom-contact p, .custom-contact h4{
  color: #fff !important;
}

.map-sec {
  filter: grayscale(0) !important;
}

.recent-post .media-img {
  margin-right: 20px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
}

.recent-post .media-img img {
  width: 100%;
  border-radius: 0px;
  transition: 0.4s ease-in-out;
  object-fit: cover;
  object-position: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 991px) {
.blog-custom-img img{
  max-height: 85vh;
}
.logo-custom-padding{
  padding: 0px;
}
}
.video-custom-thumb img{
  width: 100%;
  max-height: 90vh;
}
.form-contact-black label{
  color: white;
}
.error{
  color: red;
  font-size: 0.875em;
}
.success{
  font-size: 18px !important;
  background-color: transparent;
  width: fit-content !important;
  padding: 5px 0px !important;
}
.form-contact-white select.style-border, .form-contact-white .single-select.style-border, .form-contact-white .form-control.style-border, .form-contact-white .form-select.style-border,.form-contact-white textarea.style-border, .form-contact-white input.style-border {
  background: transparent;
  border: 1px solid rgb(227 225 220);
  border-radius: 0;
  color: #8b8d87;
}
.form-contact-white input::placeholder {
  color: #8b8d87;
}
.form-contact-white input.form-control.style-border::placeholder {
  color: #999; /* Change this to your desired color */
}
.morecontent span {
  display: none;
}
.morelink {
  display: block;
}

.success-story-scroller::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.success-story-scroller::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.success-story-scroller::-webkit-scrollbar-thumb {
  background: var(--theme-color);
}

.flip-container {
  -webkit-perspective: 1000;
  background: transparent;
}
/* flip the picture when hover */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
}

.flip-container,
.front,
.back,
.flip-container img {
  width: 100%;
  height: 100%;
  max-width: 370px;
    margin: auto;
}
/* flip speed */

.flipper {
  -webkit-transition: 1.5s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}
/* hide back  during flip */

.front,
.back {
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front placed above back */

.front {
  z-index: 2;
}
/* back, initially hidden */

.back {
  -webkit-transform: rotateY(180deg);
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}

.policy-contaner{
  width: 100%;
  border: 1px solid var(--theme-color);
  padding: 9px 12px;
  margin-bottom: 15px;
}

.policy-contaner p{
  margin: 0px;
  font-size: 16px !important;
  font-weight: 600;
  color: #666861;
  display: flex;
  justify-content: space-between;
}

.custom-accodin .accordion-card .accordion-button {
  border: 1px solid var(--theme-color) !important;
  padding: 9px 12px !important;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--title-font);
  color: var(--title-color);
  border: 0;
  background-color: transparent;
  padding: 0px 65px 0px 0px;
  min-height: auto;
  gap: 10px;
  margin-bottom: 0;
  text-align: left;
  transition: 0.3s;
  position: relative;
  margin-bottom: 15px;
}

.custom-accodin .accordion-card
{
  border:none;
}

.custom-accodin .accordion-card .accordion-button:after {
  top: 0px !important;
}

.custom-accodin .accordion-card .accordion-body {
  padding: 3rem 2rem;
}

.custom-table-2 .heading1{
  background: #434640;
  color: white;
}
.custom-table-2 .heading2{
  background: #434640;
    color: white;
  width: 300px;
}

.policy-contaner-sub{
  width: 100%;
  background: #b7b8b5;
  padding: 9px 12px;
  margin-bottom: 15px;
}

.policy-contaner-sub p{
  margin: 0px;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #666861;
  display: flex;
  justify-content: space-between;
}

.custom-franchise .reservation-form-wrap {
  padding: 90px 40px !important;
}

.custom-franchise .reservation-form-wrap .contact-form .form-group.style-4 .form-group.style-4.form-icon-left{
  width: -webkit-fill-available;
}
.contact-form .form-group .form-group.form-icon-left{
  width: -webkit-fill-available;
}

.custom-footer .active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1px;
  width: 50px;
  background: var(--white-color);
}
.custom-footer .active a{
  color: white;
}

.whats-app-float{
	position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    background-color: transparent;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    font-size: 3px;
    box-shadow: none;
    z-index: 10000;
}

.bg-gradient{
  background-image: var(--bg-gradient) !important;
}

.service-card2_content{
  background-color: var(--theme-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #afafaf;
    transition: all 0.3s ease;
    min-height: 141px;
    width: 100%;
    margin: auto;
}

.service-card2_content span{
  color: var(--white-color);
  font-size: 14px;
}

.service-card2_title{
  margin-top: 12px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: var(--white-color);
}

.service-card2_sub_title{
  position: relative;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 0px;
  color: var(--white-color);
  font-size: 14px !important;
}

.service-card2_sub_title:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  height: 1px;
  width: 50px;
  background: white;
}


.team-custom .team-card {
  max-width: 215px !important;
}

@media (max-width: 470px) {
  .team-custom .team-card {
    max-width: 100% !important;
  }
}

.about-company-collage img{
  width: 100%;
  height: auto;
}

.vision-mission .icon{
  min-width: 60px;
    max-width: 60px;
    margin-right: 20px;
    padding: 10px;
}

.custom-tag-input{
  width: 100%;
    min-height: 60px;
    align-content: center;
}

.about-us-logo{
  max-width: 215px;
}